
.navbar {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.brand-title {
  font-size: 24px;
  font-weight: bold;
}

.brand-sub {
  font-size: 11px;
  color: #ccc;
}


.nav-right {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-link:hover {
  color: #00ffcc;
}


.mobile-menu-icon {
  display: none;
  cursor: pointer;
  color: #fff;
}

/* ------- RESPONSIVE -------- */



 @media (max-width: 768px) {

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 20px;   
    top: 20px;
  }

  
  .nav-right {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;

    display: none;

    max-height: 70vh;     
    overflow-y: auto;       
    border-bottom: 2px solid #333;
  }

  .nav-right.open {
    display: flex;
  }

  .nav-link {
    padding: 15px 0;
    font-size: 18px;
  }
}


