
.navbar {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.brand-title {
  font-size: 24px;
  font-weight: bold;
}

.brand-sub {
  font-size: 11px;
  color: #ccc;
}


.nav-right {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-link:hover {
  color: #00ffcc;
}


.mobile-menu-icon {
  display: none;
  cursor: pointer;
  color: #fff;
}


.dropdown {
  position: relative;
  cursor: pointer;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  min-width: 180px;
  z-index: 1000;
}


.dropdown-menu a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}


.chevron {
  margin-left: 6px;
  font-size: 0.8rem;
}


 @media (max-width: 768px) {

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 20px;   
    top: 20px;
  }

  
  .nav-right {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;

    display: none;

    max-height: 70vh;     
    overflow-y: auto;       
    border-bottom: 2px solid #333;
  }

  .nav-right.open {
    display: flex;
  }

  .nav-link {
    padding: 15px 0;
    font-size: 18px;
  }
}


